<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592631465540-17gecjdpkpgu7vr85egcoip5pdijok02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592631465540-17gecjdpkpgu7vr85egcoip5pdijok02</string>
	<key>API_KEY</key>
	<string>AIzaSyA9sph-G3RbYGFWKUI7hp4IKg9dc-rlZOM</string>
	<key>GCM_SENDER_ID</key>
	<string>592631465540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safra</string>
	<key>PROJECT_ID</key>
	<string>safra-2fa96</string>
	<key>STORAGE_BUCKET</key>
	<string>safra-2fa96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592631465540:ios:856254dad9029dd309de11</string>
</dict>
</plist>