.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;

}

.title {
  
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.form{
  margin: 2rem auto;
  padding: 2rem;
  width: 1000px;
}

.from label{
  display: block;
  padding: 1rem 0 .5rem;
  text-transform: uppercase;

}
.form input, 
.form text{
  display: block;
  width: 100%;
  border: 2px solid #008e98;
  
}
 .form button{
  border: 0;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #008e98;
  padding: .5rem;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  
 }
 .form button:hover{
  background-color: #7ddbc8;
 }

 .formWrapper{
  display: flex;

 }
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.table{
  border-collapse: collapse;
  margin: 2rem auto;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  

 
}
.table thead tr { 
  background-color: #008e98;
  color: #ffffff;
  text-align: left;
  font-weight: bold;


} 

.table th,
.table td {
  padding: 25px 15px;
}

.table tbody tr{
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type{
  border-bottom: 5px solid #008e98;
}

.image{
  width: 180px;
}

.account {
  padding-left: 40%;
  padding-top: 5%;
}

.account button {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  background-color: #008e98;
  color: #eaeaea;
  border-radius: 20px;
  border-color: #008e98;
  
}


.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
